html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    position: relative;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}

section {
    position: absolute;
    top: 100px;
    left: 200px;
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    height: 600px;
}

article{
    margin: 20px;
    height: 200px;
    width: 240px;
}