@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif;
}

body {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

fieldset {
    background-color: rgb(240, 240, 240);
    position: relative;
}

legend {
    border: 2px solid grey;
    width: 40%;
    padding: 4px 12px;
    position: absolute;
    top: -15%;
    left: -0.7%;
    background-color: rgb(240, 240, 240);
    text-align: left;
}

label {
    font-weight: bold;
    padding-left: 3px;
}

input:hover {
    cursor: pointer;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}

i {
    position: absolute;
    left: 35%;
}

i.fa-user {
    top: 19%;
}

i.fa-key {
    top: 49%;
}

input:focus+i,
input:hover+i {
    display: none;
}

@media (max-width:400px) {
    label {
        display: block;
    }

    legend {
        top: -11%;
    }

    i {
        position: absolute;
        left: 8%;
    }

    i.fa-user {
        top: 28%;
    }

    i.fa-key {
        top: 62%;
    }
}